body {
    font-family: Arial, sans-serif;
    background-color: #251471;
}

.navbar {
    border-radius: 3px;
    background-color: #b50ac8;
}

.nav-link {
    color: #f1f1f1;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #000000;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(208, 208, 208);
}

.jumbotron {
    background-color: #fcfcfc;
    color: #e4d5d5;
    padding: 2rem 1rem;
    border-radius: 3px;
    margin-bottom: 20px;
}

.jumbotron h1 {
    font-size: 3rem;
    color: rgb(16, 29, 146)
}

.jumbotron p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

section.row {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.row {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: rgb(255, 249, 249);
}


/* Style the buttons */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.2rem;
}

.btn-secondary {
    background-color: #41ff5dc5;
    color: rgb(36, 24, 24);
    font-size: 1.2rem;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #d90000;
    border-color: #0062cc;
}

.tq {
    color: red;
    font-size: 36px;
    text-align: center;
}

.jumbotron {
    color: #fdfdfd;
    background-color: rgb(251, 255, 0);
    border: black double 2px;
}

h2 {
    color: rgb(255, 0, 0);
}

.navbar navbar-expand-md navbar-dark bg-dark {
    background-color: #d90000;
}

.lead {
    color: blue;
}

h1 {
    color: #d90000
}